.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.speakerlist{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 90%;
}
.Event p {
  width: 500px;
  margin: auto;
}
#btnBuy{
  width: 200px;
  background-color: rgb(97, 97, 236);
  border: none;
  height: 40px;
}
.Event{
  padding-top: 30px;
    height: 350px;
  background-image: url("https://www.apple.com/v/apple-events/home/u/images/meta/overview__bcphzsdb4fpu_og.png?202203161557");
  text-align: center;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
